<div class="box relative w-[270px] appear-softly p-3 rounded-lg border border-[#E9E9E9]">
    
    @if (look.images && look.images.length > 0) {
        <div class="box-header rounded overflow-hidden">
            <div class="check-container absolute w-full p-3">
                <div class="checkbox">
                    <button class="">
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="32" height="32" rx="16" fill="black" fill-opacity="0.3"/>
                            <path d="M8.5 12.5C8.5 11.0999 8.5 10.3998 8.77248 9.86502C9.01217 9.39462 9.39462 9.01217 9.86502 8.77248C10.3998 8.5 11.0999 8.5 12.5 8.5H19.5C20.9001 8.5 21.6002 8.5 22.135 8.77248C22.6054 9.01217 22.9878 9.39462 23.2275 9.86502C23.5 10.3998 23.5 11.0999 23.5 12.5V19.5C23.5 20.9001 23.5 21.6002 23.2275 22.135C22.9878 22.6054 22.6054 22.9878 22.135 23.2275C21.6002 23.5 20.9001 23.5 19.5 23.5H12.5C11.0999 23.5 10.3998 23.5 9.86502 23.2275C9.39462 22.9878 9.01217 22.6054 8.77248 22.135C8.5 21.6002 8.5 20.9001 8.5 19.5V12.5Z" stroke="white" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="image w-full h-[180px]">
                <img
                class="w-full h-full object-cover object-center"
                [src]="look.images[0]" alt="">
            </div>
        </div>
    }
    <div class="box-content mt-3 flex flex-col gap-y-5 justify-between">
        <div class="look-details">
            <p class="text-base text-black tracking-[0.1px] leading-6 limited-text two-lines">
                {{ look.name }} {{ (look.description.length > 0) ? ' - ' : '' + look.description }}
            </p>
        </div>
        <div class="products-rounded relative flex gap-6 justify-between items-center">
            <div class="images flex justify-start items-center">
                @for (product of look.products; track $index) {
                    <div class="product-image w-8 h-8 relative rounded-full border-[1px] border-white overflow-hidden"
                    [style.zIndex]="look.products.length - $index"
                    [ngClass]="{
                        '-ml-5': $index > 0
                    }"
                    >
                        <img
                        [src]="product.imagePath" alt="">
                    </div>
                }
            </div>
            <div class="selected-count">
                <p class="text-[#999] text-sm limited-text one-line">
                    {{ look.products.length }} seleccionado{{ look.products.length > 1 ? 's' : '' }}
                </p>
            </div>
        </div>
        <div class="actions flex justify-between items-center">
            <div class="edit">
                <a [routerLink]="['/store/looks/edit/' + look.id ]" class="px-1 cursor-pointer py-3 text-sm text-black font-semibold rounded-lg">
                    Editar
                </a>
            </div>
            <div class="dynamic-action">
                <button class="px-4 py-3 text-sm text-white bg-black font-semibold rounded-lg">
                    Continuar
                </button>
            </div>
        </div>
    </div>
</div>