<table class="w-full relative">
    <ng-content select="[slot=table-header]"></ng-content>
    <ng-content select="[slot=table-body]"></ng-content>
</table>
<div class="table-pagination px-6 mt-10 flex justify-center items-center" *ngIf="this.pagination && this.totalItems > 0">
    <div class="pagination-content rounded-full overflow-hidden border border-[#EBEBEB] flex justify-center items-stretch">

        <div class="previous-page">
            <button
            [disabled]="this.currentPage === this.pages[0]"
            class="py-[10px] text-sm font-medium px-4 flex gap-2 justify-center items-center"
            [ngClass]="{
                'text-[#999] cursor-auto': this.currentPage === this.pages[0]
            }"
            [routerLink]="[this.route]"
            [queryParams]="{ page: this.currentPage - 1 }"
            >
                <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M16.3337 10.0001H4.66699M4.66699 10.0001L10.5003 15.8334M4.66699 10.0001L10.5003 4.16675" [attr.stroke]="(this.currentPage === this.pages[0]) ? '#999999' : 'black'" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                Anterior
            </button>
        </div>
        <div class="enumeration flex justify-center items-stretch">
            @for (page of this.pages; track $index) {
                <div class="button-page">
                    <button class="w-11 h-full font-medium text-sm"
                    [ngClass]="{ 'active': this.currentPage === page}"
                    [routerLink]="[this.route]"
                    [queryParams]="queryParams(page)"
                    > {{ page }} </button>
                </div>
            }
        </div>
        <div class="next-page">
            <button
            [disabled]="this.currentPage === this.pages[this.pages.length - 1]"
            class="py-[10px] text-sm font-medium px-4 flex gap-2 justify-center items-center"
            [ngClass]="{
                'text-[#999] cursor-auto': this.currentPage === this.pages[this.pages.length - 1]
            }"
            [routerLink]="[this.route]"
            [queryParams]="{ page: this.currentPage + 1 }"
            >
                Próximo
                <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.66699 10.0001H16.3337M16.3337 10.0001L10.5003 4.16675M16.3337 10.0001L10.5003 15.8334" [attr.stroke]="(this.currentPage === this.pages[this.pages.length - 1]) ? '#999999' : 'black'" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </button>
        </div>

    </div>
</div>
