<div class="wrapper py-6 px-8">
    <div class="wrapper-header">
        <div class="top-content flex justify-between items-start">
            <div class="aside">
                <div class="title mb-4">
                    <h1 class="text-black font-extrabold text-2xl">
                        Looks
                    </h1>
                </div>
                <!-- <div class="tiny-text">
                    <p class="text-[#AAA] text-base">
                        Resumo dos principais dados sobre os seus produtos
                    </p>
                </div> -->
            </div>
            <div class="actions-chips flex gap-8 justify-start items-center">
    
                <div class="input-container w-full h-full max-w-[16.438rem] bg-[#F4F4F4] border border-[#E9E9E9] rounded-lg p-3 flex gap-2 justify-start items-center">
                    <div class="search-icon">
                        <label for="search">
                            <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M21 21L16.65 16.65M19 11C19 15.4183 15.4183 19 11 19C6.58172 19 3 15.4183 3 11C3 6.58172 6.58172 3 11 3C15.4183 3 19 6.58172 19 11Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </label>
                    </div>
                    <input
                    class="focus:outline-none bg-transparent w-full h-full text-sm placeholder:text-[#969696] placeholder:text-sm"
                    type="text"
                    id="search"
                    [(ngModel)]="searchTerm"
                    (input)="searchByTerm()"
                    placeholder="Pesquisar look">
                </div>
                <div class="chip border border-black bg-white w-fit rounded-lg">
                    <button class="text-black font-semibold py-3 px-4 text-sm leading-4 flex gap-2 justify-center items-center">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4 8H12M2 4H14M6 12H10" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        Filtrar
                    </button>
                </div>
    
            </div>
        </div>
    </div>
    
    @if (this.draftLooks.length > 0) {
        <div class="looks-on-draft-wrapper-content mt-10">
            <mi-look-wrapper
            [title]="'Looks em draft'"
            [looks]="this.draftLooks"
            [totalItems]="this.totalItemsDraftLooks"
            [currentPage]="this.currentPageDraftLooks"
            [isLoading]="this.loaderService.getLoadingStatus(this.pageLoaderIdentifier.LOOKS_ON_DRAFT) | async"
            [pages]="this.draftLooksPages"
            [queryParams]="{ type: 'draft' }"
            [queryParamName]="'draft_page'"
            [placeholderCount]="4"
            />
        </div>
    }
    
    <div class="all-looks-wrapper-content mt-10">
        <mi-look-wrapper
        [title]="'Todos os looks'"
        [looks]="this.displayableAllLooks"
        [totalItems]="this.totalItemsAllLooks"
        [currentPage]="this.currentPageAllLooks"
        [isLoading]="this.loaderService.getLoadingStatus(this.pageLoaderIdentifier.LOOKS) | async"
        [pages]="this.allLooksPages"
        [queryParamName]="'all_looks_page'"
        />
    </div>
</div>