<div class="app-container flex justify-start items-stretch">
    <aside class="sticky top-0 w-full text-white h-[1000px] max-h-screen max-w-[18.5rem] bg-black" #sidebarElement>
        <div class="nav py-6 px-8">
            <sidebar-menu
            [sidebarMenuItems]="this.sidebarMenuItems"
            />
        </div>
    </aside>
    <section class="w-full bg-white" #bodyContainer>
        <header class="w-full sticky top-0 py-6 px-8 z-[4200] bg-white border-b border-[#E9E9E9]">
            <mi-header />
        </header>
        <div class="content-wrapper py-6 px-8">
            <router-outlet />
        </div>
        <footer>
            <div class="footer-content flex justify-between items-center px-8 py-5">
                <p class="copyright text-xs text-[#aaa]">
                    <span class="font-medium !text-black">
                        &copy; 2022 Mistores. 
                    </span>
                    Todos os direitos reservados.
                </p>
                <p class="copyright">
                    <a
                    [routerLink]="['/']"
                    class="text-xs text-[#aaa] underline"
                    >
                        Políticas & Termos de condições.
                    </a>
                </p>
            </div>
        </footer>
    </section>
</div>