<div class="wrapper">
    <div class="wrapper-header">

        <div class="top-content flex justify-between items-start">
        </div>
    </div>
    <div class="wrapper-content mt-10">
        <div class="section mt-10 py-6 w-full rounded-lg border border-[rgba(233,233,233,0.60)] bg-white flex flex-col gap-y-10">
            
            <div class="header px-6 flex justify-between items-start">
                <div class="header-aside">
                    <div class="title mb-4">
                        <h1 class="text-black font-bold text-lg">
                            Adicionar Produtos
                        </h1>
                    </div>
                    <div class="tiny-text">
                        <p class="text-[#AAA] text-base">
                        </p>
                    </div>
                </div>
                <div class="header-actions-chips flex gap-8 justify-start items-center">
        
                    <div class="chip borders bg-white w-fit borders-[#E9E9E9] rounded-lg">
                        <button class="text-black font-semibold p-4 flex gap-2 justify-center items-center">
                            <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M15.0003 9.66675V20.3334M9.66699 15.0001H20.3337M28.3337 15.0001C28.3337 22.3639 22.3641 28.3334 15.0003 28.3334C7.63653 28.3334 1.66699 22.3639 1.66699 15.0001C1.66699 7.63628 7.63653 1.66675 15.0003 1.66675C22.3641 1.66675 28.3337 7.63628 28.3337 15.0001Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </button>
                    </div>
        
                </div>
            </div>
            <div class="content relative">
                
            </div>

        </div>

    </div>
</div>