.enumeration .button-page button{
    color: rgba(0, 0, 0, 0.40);
    transition: .3s;
    border-left: 1px solid #EBEBEB;
    border-right: 1px solid #EBEBEB;
}
.next-page button,
.previous-page button,
.previous-page button svg{
    transition: .3s;
}
.enumeration .button-page button.active{
    background-color: black;
    color: white;
    border-left: 1px solid black;
    border-right: 1px solid black;
}